@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.App {
  text-align: center;
}

.main-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 10%;
}

main {
  display: grid;
  align-items: center;
  padding: 0 10%;
}

main header .quote {
  font-size: 1.5rem;
}

footer {
  width: 100%;
  margin: 0.2rem;
  color: rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
}

.main-header {
  position: fixed;
  top: 0;
  justify-self: flex-end;
}

.main-header__log-in-link {
  color: #999;
  text-decoration: none;
}

.main-header__log-in-link:hover {
  color: #000;
}

.main-header__log-in-link:active {
  color: #33a3ee;
}

.workouts-page {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.workouts-page h1 {
  font-size: 2rem;
  margin-top: 3rem;
}

.workouts-container {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 1.5rem;
}

.auth-required-page h1 {
  color: #ff568f;
}

.auth-required-page p {
  font-size: 1.5rem;
}

.collection-empty h2 {
  color: #ff568f;
  margin-bottom: 1rem;
}

.collection-empty img {
  height: 350px;
}

@media screen and (max-width: 1950px) {
  .workouts-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 0;
  }
}

@media screen and (max-width: 1400px) {
  .my-workouts-page h1 {
    margin: 0.9rem 0;
  }
}
