@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: #fff;
}

#dark.App {
  background: #222;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

#dark #home {
  color: #fff;
}

#workout-page,
#collection-page,
#create-workout-page {
  padding-top: 5rem;
}

#workout-card,
#exercise-card {
  transition: 0.2s;
}

#workout-card:hover,
#exercise-card:hover {
  transform: scale(1.05);
}

.custom-input {
  color: #222;
  border: 1px solid #ddd !important;
  border-radius: 4px;
}

#dark .custom-input {
  color: #ddd !important;
}

#dark .custom-input input,
#dark .custom-input textarea {
  color: #ddd !important;
}

#dark .custom-input input:hover {
  outline: 1px solid white !important;
}

#dark .custom-input input::placeholder,
#dark .custom-input textarea::placeholder {
  color: white !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.2rem;
}

.scroll-left {
  position: absolute;
  top: 91%;
  width: max-content;
  word-wrap: none;

  /* Apply animation to this element */
  -moz-animation: scroll-left 7s linear infinite;
  -webkit-animation: scroll-left 7s linear infinite;
  animation: scroll-left 8s linear infinite;
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(-30%); /* Browser bug fix */
    -webkit-transform: translateX(-30%); /* Browser bug fix */
    transform: translateX(-30%);
  }
  50% {
    -moz-transform: translateX(-80%); /* Browser bug fix */
    -webkit-transform: translateX(-80%); /* Browser bug fix */
    transform: translateX(-80%);
  }
  100% {
    -moz-transform: translateX(-30%); /* Browser bug fix */
    -webkit-transform: translateX(-30%); /* Browser bug fix */
    transform: translateX(-30%);
  }
}
