.create-workout-page {
  height: 95%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.workout-plan {
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  list-style: none;

  border: #3e3f46 1px solid;
  border-radius: 25px;
  box-shadow: inset 0 0 50px 10px black;
}

.exercises-container {
  display: grid;
  place-items: center;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
}

.page-controls {
  margin: 1rem;
}

.page-controls button {
  --size: 32px;
  margin: 0 1px;
  border-radius: 6px;
  background: #3e3f46;
  color: #999;
  min-width: var(--size);
  height: var(--size);
  cursor: pointer;
  padding: 0 6px;
  border: none;
}

.page-controls button:hover {
  color: #fff;
  background: #33a3ee;
}

.page-controls input {
  text-align: center;
  margin: 0 3px;
  max-width: 50px;
  height: 32px;
  border-radius: 5px;
  -moz-appearance: textfield;
}

.page-controls input::-webkit-outer-spin-button,
.page-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.exercises-filters select,
.exercises-filters input {
  color: #999;
  background: #3e3f46;
  transform: skewY(-20deg) rotate(15deg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 0.2rem;
  min-width: 180px;
}

.workout-form h1 {
  margin: 2rem 0;
}

.workout-form__inputs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem 0;
}

.workout-form__inp,
.new-workout-exercises {
  width: 100%;
  border: none;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #3e3f46;
  transition: all 0.15s ease;
}

.workout-form__inputs-container textarea {
  height: 5rem;
  resize: none;
}

.workout-form__inp:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.workout-form__inp:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #33a3ee;
}

.new-workout-exercises {
  padding-bottom: 12px;
  height: 5rem;
  overflow-x: auto;
}

.new-workout-exercises:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.workout-form__intructions {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

.new-workout-exercises ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
  text-align: left;
}

.workout-form__exercise-li {
  display: grid;
  grid-template-columns: 1fr auto;
}

.workout-form__exercise-li__undo {
  cursor: pointer;
}

.workout-form__btn {
  margin: 0 2rem;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #3e3f46;
  background: white;
  border: 2px solid #3e3f46;
  box-shadow: 5px 5px 0 #3e3f46, -5px -5px 0 #3e3f46, -5px 5px 0 #3e3f46,
    5px -5px 0 #3e3f46;
  transition: 500ms ease-in-out;
}

.workout-form__btn:hover {
  box-shadow: 20px 5px 0 #3e3f46, -20px -5px 0 #3e3f46;
  color: #33a3ee;
}

.workout-form__btn:focus {
  outline: none;
}

@media screen and (max-width: 1400px) {
  .create-workout-page {
    height: auto;
  }

  .workout-form {
    margin-bottom: 3rem;
  }

  .workout-form h1 {
    margin: 0;
  }

  .workout-form__inp {
    font-size: 0.8rem;
    height: 2rem;
  }

  .workout-form__inputs-container textarea {
    height: 3rem;
  }

  .new-workout-exercises {
    height: 3rem;
    font-size: 0.8rem;
  }

  .workout-form__btn {
    width: 75px;
    height: 40px;
  }

  .exercises-container {
    margin-bottom: 1.5rem;
  }

  .exercises-filters select,
  .exercises-filters input {
    min-width: 150px;
  }

  .page-controls {
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
