* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  /* background-color: #282c34; */
}

.App {
  padding: 0 3rem;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 500px 1fr;
}

main > * {
  border: solid pink 2px;
}
