@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.App {
  text-align: center;
}

.main-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 10%;
}

main {
  display: grid;
  align-items: center;
  padding: 0 10%;
}

main header .quote {
  font-size: 1.5rem;
}

footer {
  width: 100%;
  margin: 0.2rem;
  color: rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
}

.my-workouts-page {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.my-workouts-page h1 {
  font-size: 2rem;
  margin-top: 3rem;
}

.workouts-container {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: auto;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1950px) {
  .workouts-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 0;
  }
}

@media screen and (max-width: 1400px) {
  .my-workouts-page h1 {
    margin: 0.9rem 0;
  }
}
