* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 500px 1fr;
  text-align: center;
}

main {
  display: grid;
  place-items: center;
}

main header .quote {
  font-size: 1.5rem;
}

footer {
  width: 100%;
  margin: 0.5rem;
  color: black;
  position: fixed;
  bottom: 0;
}
